mixin videoMixin(video)
    div
        h4
            a(href=`/videos/${video.id}`)=video.title 
        ul 
            li Rating: #{video.rating}/5.
            li #{video.comments} comments. 
            li Posted #{video.createdAt}.
            li #{video.meta.views} views.
            li #{video.id}