extends base.pug

block content 
    video(src="/" + video.fileUrl, controls, width="1000")
    div
        p=video.description
        small=video.createdAt
        br
        small Uploaded by #{user.name}
    if String(video.owner) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &larr;