extends base.pug

block content 
    video(src="/" + video.fileUrl, controls, width="1000")
    div
        p=video.description
        small=video.createdAt
        br
        small Uploaded by 
            a(href=`/users/${video.owner._id}`) #{video.owner.name}
    if String(video.owner._id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &larr;